<ion-content>
  <div style="margin-top: 50%;">
    <ion-row class="center-container">
      <img src="assets/404.png" style="width:120px;height:120px;">
    </ion-row>
    <ion-row class="center-container">
      <h3>Page Not Found</h3>
    </ion-row>
    <ion-row class="center-container">
      <p>The requested page does not exist</p>
    </ion-row>
    <ion-row class="center-container">
      <ion-button expand="none" (click)="goToContacts()">Go Back</ion-button>
    </ion-row>
  </div>
</ion-content>
